@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes expand {
	from {
		opacity: 0%;
		width: 20%;
	}
	to {
		opacity: 80%;
		width: 80%;
	}
}

main {
	animation: fade-in 1s linear;
}

hr {
	animation: expand 2s ease-in-out;
}

a:hover {
	opacity: 60%;
}

#socials a:hover {
	letter-spacing: 1px;
}

#logo:hover {
	transform: rotateZ(360deg);
}