@keyframes onLink {
  0% {
    color: #f1f1f1;
  }
  50% {
    color: #b1b1b1;
  }
  100% {
    color: #f1f1f1;
  }
}

@keyframes inTransition {
  from {
    opacity: 0;
    transform: translateX(-50px);
  }

  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

main {
  animation: inTransition 1s ease forwards;
  animation-delay: 100ms;
}

header {
  animation: inTransition 1s ease forwards;
}

a:hover {
  animation-name: onLink;
  animation-duration: 0.5s;
}
