@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');
body {
	background-color: #0f0f0f;
	background-size: 500%;
	color: #bbb;
	font-family: 'Noto Sans', sans-serif;
	overflow-x: hidden;
	overflow-y: auto;
	margin: 0;
	padding: 0 0 15px;
	text-align: center;
}

a {
	color: #f1f1f1;
	text-decoration: none;
}

body {
	scroll-behavior: smooth;
}

li a {
	color: #f1f1f1;
	display: block;
	padding: 10px 10px;
}

ul {
	list-style-type: none;
}

.about {
	font-size: 18px;
}

a.cp {
	opacity: 75%;
}

a:hover {
	color: #f1f1f1;
}

.btn {
	border-radius: 5px;
	padding: 10px 40px;
	font-size: 22px;
	text-decoration: none;
	margin: 10px;
	color: #fff;
	position: relative;
	display: inline-block;
}

.btn:active {
	transform: translate(0px, 5px);
	-webkit-transform: translate(0px, 5px);
	box-shadow: 0px 1px 0px 0px;
}

.btngradient {
	background-color: #3689e6;
	box-shadow: 3px 5px 5px #00000050;
	border-radius: 1000px;
	transition: all 1s ease;
	transform: scale(1);
}

.btngradient:hover {
	background-color: #de3e80;
	color: #fff;
	transform: scale(1.11) perspective(1px);
}

.btngradient:hover {
	background-color: #de3e80;
	color: #fff;
	transform: scale(1.11) perspective(1px);
}

.downloads img {
	margin-top: 50px;
	padding: 10px;
}

.navbar {
	background-color: #212121;
	margin: 0;
	overflow: hidden;
	padding: 5px;
}

.navbar img {
	float: left;
	height: 90px;
	padding: 5px;
	width: 90px;
}

.navbar li {
	float: right;
	font-size: 30px;
	margin: 20px 0 0;
}

.newestVideo {
	padding: 20px;
	font-size: 30px;
}

.projectFiles li {
	padding: 10px;
	list-style-type: none;
	padding-bottom: 10px;
}

.social {
	font-size: xx-large;
	padding-top: 50px;
	text-align: center;
}

footer {
	font-size: 20px;
	margin-top: 4%;
}

footer hr {
	width: 20%;
}
