@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap');
body {
	background-color: #0f0f0f;
	color: #bbb;
	font-family: 'Noto Sans', sans-serif;
	font-size: 16px;
	overflow-x: hidden;
	overflow-y: auto;
	margin: 0;
	padding: 0 0 15px;
	text-align: center;
	scroll-behavior: smooth;
}

a {
	color: #ddd;
	text-decoration: none;
}

li a {
	color: #f1f1f1;
	display: block;
	padding: 10px 10px;
}

ul {
	list-style-type: none;
}

a.cp {
	opacity: 70%;
}

h1 {
	color: #ddd;
}

.btn {
	border-radius: 5px;
	padding: 10px 40px;
	font-size: 20px;
	text-decoration: none;
	margin: 10px;
	color: #fff;
	position: relative;
	display: inline-block;
}

.btn:active {
	transform: translate(0px, 5px);
	-webkit-transform: translate(0px, 5px);
}

.btngradient {
	background-color: #5865f2;
	box-shadow: 3px 5px 5px #00000050;
	border-radius: 1000px;
	transition: all 1s ease;
	transform: scale(1);
}

.btngradient:hover {
	background-color: #eb459e;
	color: #fff;
	transform: scale(1.11) perspective(1px);
}

.downloads img {
	margin-top: 10px;
	padding: 18px;
}

.navbar {
	background-color: #212121;
	margin: 0;
	overflow: hidden;
	padding: 0px;
}

.navbar img {
	float: left;
	height: 90px;
	padding: 5px;
	width: 90px;
}

.navbar li {
	float: right;
	font-size: 30px;
	margin: 20px 0 0;
}

.latestVid {
	font-size: 28px;
}

.projectFiles li {
	padding: 10px;
	list-style-type: none;
}

.projects-list {
	display: grid;
	
}
.social {
	font-size: x-large;
	padding-top: 30px;
}
