@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

body {
	font-family: 'Roboto', sans-serif;
	color: seashell;
	background-color: rgb(10, 15, 30);
	overflow-x: hidden;
	scroll-behavior: smooth;
}

a {
	color: seashell;
	text-decoration: none;
	transition: all 0.5s;
}

p {
	font-size: 20px;
}

div.navbar {
	font-size: 32px;
	display: block;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: rgb(20, 25, 40);
	border-radius: 8px;
	padding: 8px;
}

main {
	margin: 64px;
}

div.navbar nav {
	padding: 8px;
	display: list-item;
	float: right;
	vertical-align: middle;
}

hr {
	width: 80%;
	opacity: 80%;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	padding: 8px;
}

#logo {
	width: 48px;
	padding: 4px;
	float: left;
	background-color: rgb(10, 15, 30);
	border-radius: 50%;
	transition: transform 1s ease-in-out;
}

#socials {
	font-size: 24px;
}

.center {
	text-align: center;
}

.flex-container {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;

}

.flex-item {
	padding: 0px 64px 0px 64px;
}

#launchpad {
	width: 256px;
}

#software {
	width: 256px;
}

.tooltip {
	position: relative;
	display: inline-block;
	text-decoration: underline;
}

.tooltip .tooltiptext {
	font-size: 16px;
	width: auto;
	background-color: #111;
	border-radius: 8px;
	position: absolute;
	z-index: 1;
	bottom: 100%;
	left: 50%;
	margin-left: -60px;
	opacity: 0;
	transition: opacity 0.3s;
}

.tooltip:hover .tooltiptext {
	opacity: 1;
}
